.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
body{
  margin: 0;
}
a {
  color: black;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px double purple;
  margin: 0;
  padding: 20px;
}
ol{
  border-right: 1px solid purple;
  width: 130px;
  margin: 0;
  padding: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 183px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#grid #article{
  padding-left: 20px;
}
#grid ol h2{
  margin: 0;
}
@media(max-width: 800px){
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
  #grid #article{
    padding-left: 33px;
  }
}
